<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>게시글</h1><br>
    <table>
      <tr>
        <td>작성글 번호</td>
        <td>제목</td>
        <td>작성자</td>
        <td>내용</td>
        <td>작성일</td>
      </tr>
      <% for(let post of des) { %>
      <tr>
        <td><%= post.id %></td>
        <td><a href="/api/tkd/<%= post.id %>"><%= post.title %></a></td></a>
        <td><%= post.writer %></td>
        <td><%= post.contents %></td>
        <td><%= post.createdAt %></td>
      </tr>
      <% } %>
      <br>
    </table>
    <a href="/index/insert">게시글 작성하기</a><br>
    <a href="/index/userInsert">회원가입</a><br>
    <a href="/index/userLogin">로그인</a>
    <a href="/api/userShow">내 정보보기</a>
  </body>
</html>
