<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
        <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/stylesheets/css/agency.min.css" rel="stylesheet">
</head>
<body>
<style>
.asd {
    word-wrap: break-word;
    width: 250px;
}
</style>



    <div class="container center_div">
        <table class="table">
        <% for(let post of des) { %>

            <h1 class="text-center"><%= post.title %></h1>
            <tr><td>작성자</td>    <td><%= post.writer %></td> </tr>
            <tr><td>작성일</td>    <td><%= post.createdAt %></td> </tr>
            <tr><td>내용</td></tr> 
        </table>
        <div class="asd"><%= post.contents %></div>
        <br />

        <button class="btn btn-sm"><a href="/index/update/<%=post.id%>">수정하기</a></button>
        <form action="/api/delete/<%=post.id%>" method="post">
            <input class="btn btn-sm" type="submit" value="삭제하기"></input><br>
        </form><br />
        <div>
        <h4 class="text-center">댓글</h4>
            <% if(rep) {%>
                <% for(let reply of rep) {%>
                <table class="table table-sm">
                    <tr><%= reply.writer %> <b>님의 댓글</b> <div class="asd"><%= reply.contents %></div></tr>
                </talbe>
                <% } %>
            <% } %>
        </div>
        <br />
        <br />
        <div>
            <form action="/api/reply/<%= post.id %>" method="post">
                <textarea class="form-control" type="text" name="contents" placeholder="댓글" row="2"></textarea><br />
                <input type="submit" value="댓글 등록">
            </form>
        </div>
        <% } %>
    </div>




<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<script src="/javascripts/jqBootstrapValidation.js"></script>
<script src="/javascripts/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="/javascripts/agency.min.js"></script>
</body>
</html>